#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
URL=file:///usr/share/doc/Unix_Commands_For_Beginners.pdf
Name[en_GB]=Unix Comman Line Guide
Comment[en_GB]=Unix Guide for Beginners
Name=Unix Command Line Guide
Comment=Unix Guide for Beginners
Icon[en_GB]=/usr/share/bio-linux5-icons/nebc_piclogo_bl.png
Icon=/usr/share/bio-linux5-icons/nebc_piclogo_bl.png
